<div id="aes-encrypt">
    <h2>AES Encryption</h2>
    <form action="/aes/encrypt" method="post">
        <label for="aes-text">Text to Encrypt:</label>
        <input type="text" id="aes-text" name="text" required>
        <input type="submit" value="Encrypt">
    </form>
    <% if (cryptodata.encryptedData) { %>
        <h3>Encrypted Data:</h3>
        <p><strong>IV:</strong> <%= cryptodata.encryptedData.iv %></p>
        <p><strong>Encrypted Text:</strong> <%= cryptodata.encryptedData.encryptedData %></p>
    <% } %>
    </div>
