<nav>
    <ul>
        <li><a href="#aes-encrypt">AES Encrypt</a></li>
        <li><a href="#aes-decrypt">AES Decrypt</a></li>
        <li><a href="#sha256-hash">SHA-256 Hash</a></li>
        <li><a href="#rsa-keys">RSA Keys</a></li>
        <li><a href="#rsa-encrypt">RSA Encrypt</a></li>
        <li><a href="#rsa-decrypt">RSA Decrypt</a></li>
    </ul>
</nav>
