<section id="rsa-keys">
    <h2>RSA Key Generation</h2>
    <form action="/rsa/generate" method="get">
        <input type="submit" value="Generate Keys">
    </form>
    <% if (cryptodata.publicKey && cryptodata.privateKey) { %>
        <h3>RSA Keys:</h3>
        <p><strong>Public Key:</strong> <%= cryptodata.publicKey %></p>
        <p><strong>Private Key:</strong> <%= cryptodata.privateKey %></p>
    <% } %>
</section>
