body.simple-style {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4ef;
    margin: 0;
    padding: 25px;
    background-image: url(../assets/image/cryptoclient.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alldiv{
    background-color: rgba(255, 228, 196, 0.248);
    padding: 10px 20px;
    height: auto;
    
}
h2{
    color: #f9eeee;
    text-align: center;
    margin-bottom: 20px;
}
h3{
    color: #1e097b;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #1013e4c6; 
    color: white;
    padding: 12px 25px;
    margin: 6px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #45a049;
}

.crypForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto 20px;
}

.crypForm form {
    display: flex;
    flex-direction: column;
}

.crypForm label {
    font-weight: bold;
    margin-top: 10px;
}

.crypForm input[type="text"],
.crypForm textarea {
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.crypForm textarea {
    resize: vertical;
    height: 100px;
}

.crypForm button {
    align-self: flex-start;
}

.crypForm p {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
    color: hsla(260, 93%, 24%, 0.878);
}

@media (max-width: 768px) {
    body.simple-style {
        padding: 10px;
    }

    .crypForm {
        padding: 15px;
        margin-bottom: 15px;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}
